<h2 class="card-title">Administración de usuario</h2>

<div class="card">
    <div class="card-body mb-5">
        <h5 class="card-title">Actualización de información de usuario</h5>
        <hr>
    <form [formGroup]="editForm">        
        <div class="row"> 
            <div class="col-lg-12 col-sm-12  form-group">
                <label for="username">Usuario</label>
                <input type="text" readonly formControlName="username" class="form-control"/>
            </div>           

            <div class="col-lg-6 col-sm-12 form-group">
                <label for="nombreUsuario">Nombre(s)</label>
                <input type="text" formControlName="nombreUsuario" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.nombreUsuario.errors }" />
                <div *ngIf="submitted && f.nombreUsuario.errors" class="invalid-feedback">
                    <div *ngIf="f.nombreUsuario.errors.required">El nombre es requerido</div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-12  form-group">
                <label for="apellidosUsuario">Apellido(s)</label>
                <input type="text" formControlName="apellidosUsuario" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.apellidosUsuario.errors }" />
                <div *ngIf="submitted && f.apellidosUsuario.errors" class="invalid-feedback">
                    <div *ngIf="f.apellidosUsuario.errors.required">El apellido es requerido</div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-12  form-group">
                <label for="tipoIdentificacion">Tipo identificación</label>
                <select type="text" formControlName="tipoIdentificacion" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.tipoIdentificacion.errors }">
                    <!-- <option selected hidden value=tipoDocumentoSelected.idTipoIdentificacion>{{tipoDocumentoSelected.nombreTipoIdentificacion}}</option> -->
                    <option *ngFor="let tipo of tipoDocumento; let i=index"  [ngValue]="tipo.idTipoIdentificacion">{{tipo.nombreTipoIdentificacion}}</option>
                </select>
                <!-- <div *ngIf="submitted && f.tipoIdentificacion.errors" class="invalid-feedback">
                    <div *ngIf="f.tipoIdentificacion.errors.required">El Tipo de identificación es requerido</div>
                </div> -->
            </div>

            <div class="col-lg-6 col-sm-12 form-group">
                <label for="numeroIdentificacionUsuario">Número identificación</label>
                <input type="text" formControlName="numeroIdentificacionUsuario" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.numeroIdentificacionUsuario.errors }" />
                <div *ngIf="submitted && f.numeroIdentificacionUsuario.errors" class="invalid-feedback">
                    <div *ngIf="f.numeroIdentificacionUsuario.errors.required">El Numero de identificación es requerido</div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-12 form-group">
                <label for="idEps">EPS</label>
                <select type="text" formControlName="idEps" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.idEps.errors }">
                    <!-- <option selected hidden value=epsSelected.idEps>{{epsSelected.nombreEps}}</option> -->
                    <option *ngFor="let eps of epsList; let i=index"
                    [style.visibility]="eps.estadoEps ? 'visible' : 'hidden'"
                    [ngValue]="eps.idEps">{{eps.nombreEps}}</option>
                </select>
                <div *ngIf="submitted && f.idEps.errors" class="invalid-feedback">
                    <div *ngIf="f.idEps.errors.required">La EPS es requerido</div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-12 form-group">
                <label for="correoUsuario">Correo electrónico</label>
                <input type="text" formControlName="correoUsuario" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.correoUsuario.errors }" />
                <div *ngIf="submitted && f.correoUsuario.errors" class="invalid-feedback">
                    <div *ngIf="f.correoUsuario.errors.required">El correo electrónico es requerido</div>
                </div>
            </div>
       </div> 

       <div class="col-12 form-group">
        <button class="btn btn-primary mr-2" [disabled]="!editForm.valid"  (click)="onConfirm()">Actualizar</button>
        <button class="btn btn-secundary-primary" (click)="onNoClick()" tabindex="-1">Cancelar</button>
      </div>
    </form>
    </div>
</div>