<button type="button" class="close" tabindex="-1" (click)="onNoClick()" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
<div class="container-fluid">
    <h3 mat-dialog-title>Actualizar Especialidad  id:{{id}}</h3>
    <hr>
    
      <form class="mat-dialog-content" [formGroup]="editForm" >
        <div class="row">
  
          <!-- Sección para nombre de la eps -->
          <div class="col-lg-12 col-xs-7 form-group">    
              <label for="nombreEspecialidad">Nombre</label> 
              <input matInput formControlName="nombreEspecialidad" class="form-control"  placeholder="Nombre"  name="nombre"
              [ngClass]="{ 'is-invalid': submitted && f.nombreEspecialidad.errors }" >
              <div *ngIf="submitted && f.nombreEspecialidad.errors" class="invalid-feedback">
                <div *ngIf="f.nombreEspecialidad.errors.required">Nombre de Especialidad requerido</div>
              </div>
          </div>
  
        <div class="col-lg-12 col-xs-7  form-group">
            <!-- <label for="state"> Estado de Especialidad</label><br> -->
              <input type="checkbox" class="form-check-input form-control" id="state" name="state" formControlName="estadoEspecialidad" value="Bike">
              <label for="state"> Estado Especialidad</label>
          </div>
    
        <div class="col-12 form-group">
          <button class="btn btn-primary mr-2" [disabled]="!editForm.valid" [mat-dialog-close]="1" (click)="onConfirm()">Guardar</button>
          <button class="btn btn-secundary-primary" (click)="onNoClick()" tabindex="-1">Cancelar</button>
        </div>
      </div>
      </form>
    </div>
    