<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <!-- ***************************************************************************************************** -->
                <!-- SECCIÓN DE USUARIOS -->
                <!-- ***************************************************************************************************** -->
                <li>
                    <a class="has-arrow waves-effect waves-dark" routerLink="pages/admin-user" aria-expanded="false">
                        <i class="mdi mdi-account-settings-variant"></i>
                        <span class="hide-menu"> 
                            USUARIOS
                            <span class="label label-rouded label-themecolor pull-right">
                                Administración central de usuarios
                            </span>
                        </span>
                    </a>
                    <ul aria-expanded="false" class="collapse">                        
                        <li><a *ngIf="pc.isGranted(permisos.AdminUsuario)" routerLink="pages/admin-user" routerLinkActive='active' >Perfil</a></li>
                    </ul>                    
                </li>

                <!-- ***************************************************************************************************** -->
                <!-- SECCIÓN DE LUGARES DE ATENCIÓN -->
                <!-- ***************************************************************************************************** -->
                <li class="nav-devider"></li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" routerLink="pages/admin-site" aria-expanded="false">
                        <i class="mdi mdi-hospital-marker"></i>
                        <span class="hide-menu"> 
                            LUGARES
                            <span class="label label-rouded label-themecolor pull-right">
                                administración de lugares de atención
                            </span>
                        </span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a *ngIf="pc.isGranted(permisos.ConsultarLugaresCercanos)"  routerLink="">Lugares más cercanos</a></li>
                        <li><a *ngIf="pc.isGranted(permisos.AdminLugares)" routerLink="pages/admin-site" routerLinkActive='active'>Admin Lugares</a></li>
                    </ul>                    
                </li>
                <!-- ***************************************************************************************************** -->
                <!-- EPS -->
                <!-- ***************************************************************************************************** -->
                <li  *ngIf="pc.isGranted(permisos.AdminEps)" class="nav-devider"></li>
                <li *ngIf="pc.isGranted(permisos.AdminEps)" >
                    <a class="has-arrow waves-effect waves-dark" routerLink="pages/admin-eps" routerLinkActive='active'
                     aria-expanded="false">
                        <i class="mdi mdi-hospital-building"></i>
                        <span class="hide-menu"> 
                            EPS
                            <span class="label label-rouded label-themecolor pull-right">
                               administración de eps
                            </span>
                        </span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a *ngIf="pc.isGranted(permisos.AdminEps)" 
                             routerLink="pages/admin-eps" routerLinkActive='active'>Admin EPS</a>
                        </li>

                    </ul>                    
                </li>
                
                <!-- ***************************************************************************************************** -->
                <!-- SECCIÓN DE ESPECIALIDADES -->
                <!-- ***************************************************************************************************** -->
                <li *ngIf="pc.isGranted(permisos.AdminEspecialidad)"  class="nav-devider"></li>
                <li *ngIf="pc.isGranted(permisos.AdminEspecialidad)" >
                    <a 
                    class="has-arrow waves-effect waves-dark" routerLink="pages/admin-specialties" aria-expanded="false">
                        <i class="mdi mdi-signal-hspa-plus"></i>
                        <span class="hide-menu"> 
                            ESPECIALIDADES
                            <span class="label label-rouded label-themecolor pull-right">
                               administración de especialidades
                            </span>
                        </span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a *ngIf="pc.isGranted(permisos.AdminEspecialidad)"  
                            routerLink="pages/admin-specialties" routerLinkActive='active'>Admin Especialidades</a>
                        </li>
                    </ul>                    
                </li>
                
                <!-- ***************************************************************************************************** -->
                <!-- SECCIÓN DE DASHBOARD -->
                <!-- ***************************************************************************************************** -->
                <li *ngIf="pc.isGranted(permisos.Dashboard)" class="nav-devider"></li>
                <li *ngIf="pc.isGranted(permisos.Dashboard)">
                    <a  
                    class="has-arrow waves-effect waves-dark" routerLink="pages/dashboard" aria-expanded="false">
                        <i class="mdi mdi-chart-bar"></i>
                        <span class="hide-menu"> 
                            DASHBOARD
                            <span class="label label-rouded label-themecolor pull-right">
                                monitor de administración
                            </span>
                        </span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a routerLink="pages/dashboard" routerLinkActive='active'>Gestión EPS</a></li>
                    </ul>                    
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->



