<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <!-- ***************************************************************************************************** -->
                <!-- SECCIÓN DE USUARIOS -->
                <!-- ***************************************************************************************************** -->
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                        <i class="mdi mdi-account-settings-variant"></i>
                        <span class="hide-menu"> 
                            USUARIOS
                            <span class="label label-rouded label-themecolor pull-right">
                                2
                            </span>
                        </span>
                    </a>
                    <ul aria-expanded="false" class="collapse">                        
                        <li><a *ngIf="pc.isGranted(permisos.AdminUsuario)" routerLink="pages/admin-user" >Mi Perfil</a></li>
                        <!-- <li><a *ngIf="pc.isGranted(permisos.AdminUsuario)" href="#" (click)="onOpenThema()" >Tema</a></li> -->
                        <li>
                            <button *ngIf="pc.isGranted(permisos.AdminUsuario)" type="button" class="btn btn-link" (click)="onOpenThema()">Tema</button>
                        </li>
                    </ul>                    
                </li>

                <!-- ***************************************************************************************************** -->
                <!-- SECCIÓN DE LUGARES DE ATENCIÓN -->
                <!-- ***************************************************************************************************** -->
                <li class="nav-devider"></li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                        <i class="mdi mdi-hospital-marker"></i>
                        <span class="hide-menu"> 
                            LUGARES
                            <span class="label label-rouded label-themecolor pull-right">
                               3
                            </span>
                        </span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a *ngIf="pc.isGranted(permisos.ConsultarLugaresCercanos)"  href="#">Lugares más cercanos</a></li>
                        <li><a *ngIf="pc.isGranted(permisos.AdminLugares)" routerLink="pages/admin-site">Admin Lugares</a></li>
                        <li><a *ngIf="pc.isGranted(permisos.AdminLugares)" routerLink="pages/rel-site-spec">Asignar Especialidades</a></li>
                    </ul>                    
                </li>
                <!-- ***************************************************************************************************** -->
                <!-- EPS -->
                <!-- ***************************************************************************************************** -->
                <li  *ngIf="pc.isGranted(permisos.AdminEps)" class="nav-devider"></li>
                <li *ngIf="pc.isGranted(permisos.AdminEps)" >
                    <a class="has-arrow waves-effect waves-dark" href="#"
                     aria-expanded="false">
                        <i class="mdi mdi-hospital-building"></i>
                        <span class="hide-menu"> 
                            EPS
                            <span class="label label-rouded label-themecolor pull-right">
                               2
                            </span>
                        </span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a *ngIf="pc.isGranted(permisos.AdminEps)" routerLink="pages/admin-eps">Admin EPS</a></li>
                        <li><a *ngIf="pc.isGranted(permisos.AdminEps)" routerLink="pages/rel-eps-site">Asignar Lugares de Atención</a></li>
                    </ul>                    
                </li>
                
                <!-- ***************************************************************************************************** -->
                <!-- SECCIÓN DE ESPECIALIDADES -->
                <!-- ***************************************************************************************************** -->
                <li *ngIf="pc.isGranted(permisos.AdminEspecialidad)"  class="nav-devider"></li>
                <li *ngIf="pc.isGranted(permisos.AdminEspecialidad)" >
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                        <i class="mdi mdi-signal-hspa-plus"></i>
                        <span class="hide-menu"> 
                            ESPECIALIDADES
                            <span class="label label-rouded label-themecolor pull-right">
                               1
                            </span>
                        </span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a *ngIf="pc.isGranted(permisos.AdminEspecialidad)"  
                            routerLink="pages/admin-specialties">Admin Especialidades</a>
                        </li>
                    </ul>                    
                </li>
                
                <!-- ***************************************************************************************************** -->
                <!-- SECCIÓN DE DASHBOARD -->
                <!-- ***************************************************************************************************** -->
                <li *ngIf="pc.isGranted(permisos.Dashboard)" class="nav-devider"></li>
                <li *ngIf="pc.isGranted(permisos.Dashboard)">
                    <a  
                    class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                        <i class="mdi mdi-chart-bar"></i>
                        <span class="hide-menu"> 
                            DASHBOARD
                            <span class="label label-rouded label-themecolor pull-right">
                                1
                            </span>
                        </span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a routerLink="pages/dashboard">Gestión EPS</a></li>
                    </ul>                    
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->



