<div class="card card-body ">
    <h2>Crear una cuenta</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label for="NOMBRES_USUARIO">Nombre(s)</label>
            <input type="text" formControlName="NOMBRES_USUARIO" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.NOMBRES_USUARIO.errors }" />
            <div *ngIf="submitted && f.NOMBRES_USUARIO.errors" class="invalid-feedback">
                <div *ngIf="f.NOMBRES_USUARIO.errors.required">El nombre es requerido</div>
            </div>
        </div>
        <div class="form-group">
            <label for="APELLIDOS_USUARIO">Apellido(s)</label>
            <input type="text" formControlName="APELLIDOS_USUARIO" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.APELLIDOS_USUARIO.errors }" />
            <div *ngIf="submitted && f.APELLIDOS_USUARIO.errors" class="invalid-feedback">
                <div *ngIf="f.APELLIDOS_USUARIO.errors.required">El apellido es requerido</div>
            </div>
        </div>
        <div class="form-group">
            <label for="NUMERO_IDENTIFICACION">Numero Identificación</label>
            <input type="text" formControlName="NUMERO_IDENTIFICACION" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.NUMERO_IDENTIFICACION.errors }" />
            <div *ngIf="submitted && f.NUMERO_IDENTIFICACION.errors" class="invalid-feedback">
                <div *ngIf="f.NUMERO_IDENTIFICACION.errors.required">El Numero de identificación es requerido</div>
            </div>
        </div>
        <div class="form-group">
            <label for="CORREO_USUARIO">Correo electrónico</label>
            <input type="text" formControlName="CORREO_USUARIO" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.CORREO_USUARIO.errors }" />
            <div *ngIf="submitted && f.CORREO_USUARIO.errors" class="invalid-feedback">
                <div *ngIf="f.CORREO_USUARIO.errors.required">El correo electrónico es requerido</div>
            </div>
        </div>
        <div class="form-group">
            <label for="PASSWORD_USUARIO">Contraseña</label>
            <span class="input-group-text"> <i class="fa fa-lock"></i> <input type="PASSWORD_USUARIO"
                    formControlName="PASSWORD_USUARIO" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.PASSWORD_USUARIO.errors }" /> </span>

            <div *ngIf="submitted && f.PASSWORD_USUARIO.errors" class="invalid-feedback">
                <div *ngIf="f.PASSWORD_USUARIO.errors.required">La contraseña es requerida</div>
                <div *ngIf="f.PASSWORD_USUARIO.errors.minlength">La contraseña debe tener al menos 6 caracteres</div>
            </div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Registrar
            </button>
            <a routerLink="/login" class="btn btn-link">Cancelar</a>
        </div>
    </form>