<agm-map (mapClick)="onAddMark($event)"
    [zoom]="12"
  [latitude]="lat" [longitude]="lng">

   <agm-marker *ngIf="userMark.valido" 
   [iconUrl]=iconRed
   [latitude]=userMark.lat [longitude]=userMark.lng></agm-marker>
    <agm-marker [iconUrl]=iconBlue  *ngFor="let lugar of lugaresCercanosList; let i=index" [latitude]=lugar.latitudLugarAtencion [longitude]=lugar.longitudLugarAtencion>
        <agm-info-window class="info-window container row" #infoWindow>
            <strong>{{lugar.nombreLugarAtencion}}</strong>
            <ul>
                <li><b>Dirección: </b>{{lugar.direccionLugarAtencion}}</li>
                <li><b>Teléfono: </b>{{lugar.telefonoLugarAtencion}}</li>
                <li><b>Sito Web: </b>{{lugar.sitioWebLugarAtencion}}</li>
                <li *ngIf="lugar.disponibilidad"><b>Sito Web: </b>{{lugar.disponibilidad}}%</li>
            </ul>

                <div class="col-12"> 
                    <button  type="button" class="btn btn-primary" (click)="onAccept(infoWindow)" >Aceptar</button>
                </div>
        </agm-info-window>
    </agm-marker>
  </agm-map>