<button type="button" class="close" tabindex="-1" (click)="onNoClick()" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
<div class="container">
    <h3 mat-dialog-title>Está seguro que desea borrar la Especialidad?</h3>
    <div mat-dialog-content>
      Id: {{especialidad.idEspecialidad}}
      <p></p>
      Especialidad: {{especialidad.nombreEspecialidad}}
      <p></p>
      Estado: {{especialidad.estadoEspecialidad}}
      <p></p>
    </div>
  
    <div mat-dialog-actions>
      <button class="btn btn-danger mr-2" mat-button [mat-dialog-close]="1" (click)="confirmDelete()">Borrar</button>
      <button class="btn btn-light mr-2"mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
    </div>
  </div>