<h2 class="card-title">Asignación Eps-IPS</h2>

<div class="card">
    <div class="card-body mb-6">
        <h5 class="card-title">Asignación de lugares de atención a EPS</h5>
        <hr>
        <form [formGroup]="editForm">  
        <div class="row">
            
            <!-- ********************************************************************************************** -->
            <!-- SECCIÓN DE BUSQUEDA PARA EPS -->
            <!-- ********************************************************************************************** -->
            <div class="col-lg-12 col-sm-12 form-group">
                <label for="idEps">EPS</label>
                <select type="text" formControlName="idEps" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.idEps.errors }">
                    <option selected hidden value="">Seleccionar</option>
                    <option *ngFor="let eps of epsList; let i=index"  [ngValue]="eps.idEps">{{eps.nombreEps}}</option>
                </select>
                <div *ngIf="submitted && f.idEps.errors" class="invalid-feedback">
                    <div *ngIf="f.idEps.errors.required">La EPS es requerido</div>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>



<div class="card">
    <div class="card-body mb-1 pd-2 pr-2">
        <h5 class="card-title">Lugares Asignados</h5>
        <hr>

        <div class="row">
            <!-- ********************************************************************************************** -->
            <!-- SECCIÓN DE GRILLA DE LUGARES DE ATENCIÓN -->
            <!-- ********************************************************************************************** -->
            <div class="col-11 container mat-elevation-z1">
                <table mat-table [dataSource]="datasource" class="col-12 mat-cell">
                    ng update @angular/cli @angular/core

                    <!-- nombreLugarAtencion Column -->
                    <ng-container matColumnDef="nombreLugarAtencion">
                        <th mat-header-cell *matHeaderCellDef> Nombre </th>
                        <td mat-cell *matCellDef="let element"> {{element.nombreLugarAtencion}} </td>
                    </ng-container>

                    <!-- direccionLugarAtencion Column -->
                    <ng-container matColumnDef="direccionLugarAtencion">
                        <th mat-header-cell *matHeaderCellDef> Dirección </th>
                        <td mat-cell *matCellDef="let element"> {{element.direccionLugarAtencion}} </td>
                    </ng-container>

                    <!-- telefonoLugarAtencion Column -->
                    <ng-container matColumnDef="telefonoLugarAtencion">
                        <th mat-header-cell *matHeaderCellDef> Teléfono </th>
                        <td mat-cell *matCellDef="let element"> {{element.telefonoLugarAtencion}} </td>
                    </ng-container> 

                    <!-- actions Column -->
                    <ng-container matColumnDef="actions">
                        <th class="text-left" mat-header-cell *matHeaderCellDef>
                            <button class="btn btn-secundary primary-icon" mat-raised-button
                                (click)="onAddNew()">
                                <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                            </button>
                        </th>
                        <td class="text-left"  mat-cell *matCellDef="let element; let i=index;">                   
                            <button class="btn btn-secundary accent-icon" (click)="onDeleteItem(i,element)"
                                mat-icon-button>
                                <mat-icon aria-label="Delete">delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <!-- loading -->
                    <ng-container matColumnDef="loading">
                        <th mat-footer-cell *matFooterCellDef colspan="6">
                            Cargando información...
                        </th>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <tr mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':lugaresAtencionEPS!=null}"></tr>
                </table>

                <div class="no-results" [style.display]="datasource.data.length == 0 ? '' : 'none'">
                    No se encontraron registros
                </div>
                <mat-paginator [length]="datasource.filteredData.length" showFisrtLastButtons
                    [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>
            </div>


            <!-- ********************************************************************************************************** -->
            <!-- SECCIÓN DE BUSQUEDA DE LUGARES DE ATENCIÓN -->
            <!-- ********************************************************************************************************** -->
            <!-- <div class="col-lg-7 col-sm-12 form-group">
                <label for="idLugar">Lugar de atención</label>
                <select type="text" formControlName="idLugar" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.idLugar.errors }">
                    <option selected hidden value="">Seleccionar</option>
                    <option *ngFor="let lugar of lugaresList; let i=index"  [ngValue]="lugar.idLugaresAtencion">{{lugar.nombreLugarAtencion}}</option>
                </select>
                <div *ngIf="submitted && f.idLugar.errors" class="invalid-feedback">
                    <div *ngIf="f.idLugar.errors.required">La EPS es requerido</div>
                </div>
            </div> -->


            <div class="col-11 form-group mt-3 ml-4">
                <button class="btn btn-primary mr-2" [disabled]="!editForm.valid"  (click)="onConfirm()">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>
