<div class="container">
    <h3 mat-dialog-title>Está seguro que desea borrar la EPS?</h3>
    <div mat-dialog-content>
      Id: {{eps.idEps}}
      <p></p>
      Eps: {{eps.nombreEps}}
      <p></p>
      Estado: {{eps.estadoEps}}
      <p></p>
      Dirección: {{eps.direccionEps}}
      <p></p>
      Teléfono: {{eps.telefonoEps}}
      <p></p>
    </div>
  
    <div mat-dialog-actions>
      <button class="btn btn-danger mr-2" mat-button [mat-dialog-close]="1" (click)="confirmDelete()">Borrar</button>
      <button class="btn btn-light mr-2"mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
    </div>
  </div>