<button type="button" class="close" tabindex="-1" (click)="onNoClick()" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
<div class="container-fluid">
  <h3 mat-dialog-title>Agregar una Lugar Atención</h3>
  <hr>

  <form class="mat-dialog-content" [formGroup]="addForm">
    <div class="row">

      <!-- Sección para nombre de la eps -->
      <div class="col-lg-12 col-xs-7 form-group">
        <label for="nombreLugarAtencion">Nombre</label>
        <input matInput formControlName="nombreLugarAtencion" class="form-control" placeholder="Nombre" name="nombreLugarAtencion"
          [ngClass]="{ 'is-invalid': submitted && f.nombreLugarAtencion.errors }">
        <div *ngIf="submitted && f.nombreLugarAtencion.errors" class="invalid-feedback">
          <div *ngIf="f.nombreLugarAtencion.errors.required">Nombre de Lugar Atención requerido</div>
        </div>
      </div>

      <!--Textarea para dirección-->
      <div class="col-lg-12 col-xs-7 form-group">
        <label for="direccionLugarAtencion">Dirección</label>
        <textarea matInput formControlName="direccionLugarAtencion" class="form-control" placeholder="Dirección"
          name="direccion" required
          [ngClass]="{ 'is-invalid': submitted && f.direccionLugarAtencion.errors }"></textarea>
        <div *ngIf="submitted && f.direccionLugarAtencion.errors" class="invalid-feedback">
          <div *ngIf="f.direccionLugarAtencion.errors.required">Dirección requerida</div>
        </div>
      </div>

      <!-- Sección para el teléfono -->
      <div class="col-lg-12 col-xs-7  form-group">
        <label for="telefonoLugarAtencion">Teléfono</label>
        <input matInput class="form-control" formControlName="telefonoLugarAtencion" placeholder="Teléfono"
          name="telefono">
      </div>
      <!-- Sección para sitio web -->
      <div class="col-lg-12 col-xs-7 form-group">
        <label for="sitioWebLugarAtencion">Sitio Web</label>
        <input matInput formControlName="sitioWebLugarAtencion" class="form-control" placeholder="Sitio Web"
          name="sitioWeb" [ngClass]="{ 'is-invalid': submitted && f.sitioWebLugarAtencion.errors }">
        <div *ngIf="submitted && f.sitioWebLugarAtencion.errors" class="invalid-feedback">
          <div *ngIf="f.sitioWebLugarAtencion.errors.required"> Sitio Web es requerido</div>
        </div>
      </div>
      <!-- Sección para latitudLugarAtencion -->
      <div class="col-lg-12 col-xs-7 form-group">
        <label for="latitudLugarAtencion">Latitud</label>
          <input matInput formControlName="latitudLugarAtencion" class="form-control" placeholder="Latitud"
            name="sitioWeb" [ngClass]="{ 'is-invalid': submitted && f.latitudLugarAtencion.errors }">
          <div *ngIf="submitted && f.latitudLugarAtencion.errors" class="invalid-feedback">
            <div *ngIf="f.latitudLugarAtencion.errors.required"> Latitud es requerido</div>
          </div>
      </div>
      <!-- Sección para longitudLugarAtencion --> 
      <div class="col-lg-12 col-xs-7 form-group">
        <label for="longitudLugarAtencion">Longitud</label>
        <input matInput formControlName="longitudLugarAtencion" class="form-control" placeholder="Longitud"
          name="sitioWeb" [ngClass]="{ 'is-invalid': submitted && f.longitudLugarAtencion.errors }">
        <div *ngIf="submitted && f.longitudLugarAtencion.errors" class="invalid-feedback">
          <div *ngIf="f.longitudLugarAtencion.errors.required"> Longitud es requerido</div>
        </div>
      </div>

      <div class="col-12 form-group">
        <button class="btn btn-primary mr-2" [disabled]="!addForm.valid" [mat-dialog-close]="1"
          (click)="confirmAdd()">Guardar</button>
        <button class="btn btn-secundary-primary" (click)="onNoClick()" tabindex="-1">Cancelar</button>
      </div>
    </div>
  </form>
</div>